[2016-05-05 11:38] mahesh0919 opened #2 "read messages sent from admin to a user"
Hi I am using previous version of intercom-dotnet (1.0.0.0) in my application to read messages sent from intercom to a user.now I am upgrading your library.

could you please le me know is there any API which provides reading messages sent from intercom to a user. or what is the equivalent API for the below code. code taken from previous version of intercom-dotnet.dll
This will read messages sent

[2016-05-05 12:43] khalilovcmd commented on #2
Hey @mahesh0919 ,

As a note, Please use the latest [nuget version 1.0.1](https://www.nuget.org/packages/Intercom.Dotnet.Client/1.0.1)

You can user's conversations by doing the following:
[code]

We will also write this down in our documentation `Usage` section.

Thank you for raising the issue!

[2016-05-05 13:32] #2 closed

[2016-05-11 13:48] kfrancis opened #5 "Environment.GetEnvironmentVariable"
Can I suggest that this isn't a great way to get the two secure variables? It's kind of ugly to ask people to put those credentials on their computer just to run tests. I realize they aren't really in use, but it sticks out as a weird choice.

The method used in Intercom.Tests seems more normal.

[2016-05-11 13:49] kfrancis opened #6 "Add Async"
I realize it's on the roadmap, but it's relatively simple. Stubbing for a pull request from me.

[2016-05-11 14:37] kfrancis commented on #6
@khalilovcmd Can you take a quick glance and see if that's the approach you'd like to take? If so, I can keep working on implementing it throughout.

[2016-05-11 21:05] khalilovcmd commented on #5
Thank you @kfrancis for dropping by your suggestions!

Please bear with me with a bit of explaining our philosophy behind this. Our Unit tests were primarily targeted towards the functionality of each of the public clients' functionality without having to do an API endpoint, thus we didn't require an AppId or an AppKey.

Our purpose through the yet-to-be-written integration tests is to solely test

[2016-05-11 21:32] khalilovcmd commented on #6
Thank you @kfrancis for the contribution, and I agree that implementing Async in our case would be doable with our current structure, yet there are few points that we need to consider carefully before proceeding with doing so:

- There is a lot of **DRY**ness that we need to apply to the base `Client` class, and most of its client children classes after introducing Async.

**E.g.:** We are here do

[2016-05-13 21:36] #6 closed

[2016-05-13 21:36] #5 closed

[2016-05-20 08:23] jopierrelerm opened #8 "Requesting notes for user after updating user_id fails"
I imported users from mailchimp into intercom. None of these users had a "user_id" set, only "email".

After updating the user via the api and set the "user_id" field, the one issue I'm having now is that listing notes by using the "user_id" parameter throws an exception as the check is done in the api if the "user_id" field is set to use the "id" field of the user object. However this seems to no

[2016-05-20 08:26] jopierrelerm commented on #8
Im only passing the "user_id" field now for the lookup and this id is set on my user when I look inside of the user profile on app.intercom site

![image](https://cloud.githubusercontent.com/assets/1333733/15421757/add27a90-1e7d-11e6-9d7e-56d9376bb7d2.png)

[2016-05-20 11:19] khalilovcmd commented on #8
Thank you @jopierrelerm very much for reporting this issue 👍  I have created a hot fix to fix the issue, and the Nuget package is on its way to production.

The issue was related to misinterpretation of the Notes endpoint of our developers documentation, and it will be fixed too.

[2016-05-20 11:22] khalilovcmd commented on #8
Please note, that this will be a breaking change for the `NotesClient`. Yet, I have chosen not to update the Major version to 2.0.0 just yet.

[2016-05-20 11:23] jopierrelerm commented on #8
Ok cool thanks

[2016-05-20 12:06] #8 closed

[2016-05-25 09:27] DannyWatkins opened #11 "UsersClient incorrectly uses id / user_id"
Several of the update methods incorrectly post id rather than user_id or vice versa. For example UpdateLastSeenAt(User user) has this line :

String body = JsonConvert.SerializeObject(new { user_id = user.id, update_last_request_at = true });

Note the assignment of user_id = user.id rather than user_id = user.user_id.

These errors are widespread and inconsistent in the UsersClient, making the li

[2016-05-25 10:13] khalilovcmd commented on #11
Thank you @DannyWatkins for reporting this issue 👍

I have applied a hot fix #12 for the `UsersClient` and please let me know if it is works as expected. We are also updating our developers docs to have a better explanation for the `UpdateLastSeenAt`.

[2016-05-25 10:16] khalilovcmd commented on #11
You can get the latest Nuget version from [here](https://www.nuget.org/packages/Intercom.Dotnet.Client/) `1.0.5`.

[2016-05-25 10:36] DannyWatkins commented on #11
Many thanks for the quick turnaround Tarek.

I’m not in a position to test the fix today but having scanned down the file it now looks fine.

Thanks again

Danny.

From: Tarek Khalil [mailto:notifications@github.com]
Sent: 25 May 2016 11:14
To: intercom/intercom-dotnet <intercom-dotnet@noreply.github.com>
Cc: DannyWatkins <danny@dannywatkins.com>; Mention <mention@noreply.github.com>
Subject: Re:

[2016-05-25 10:52] khalilovcmd commented on #11
You are welcome @DannyWatkins , you can always ping us here for any more issues 👍

[2016-05-25 10:52] #11 closed

[2016-05-25 15:10] DannyWatkins commented on #11
Hi Tarek,

We probably won’t be using the wrapper going forward but I just wanted to help you with a discovery today.

The IncrementUserSession doesn’t appear to work beyond the first session. After struggling with this I see that the documentation says you should set the new_session flag “while updating the user record”.

Having experimented it appears that the new_session flag is ignored unless

[2016-06-14 00:44] markalanevans opened #17 "Access to Rate Limit Info"
Hey Guys,

Since you don't have the bulk API logic done just yet, is there any way to get access to the Rate Limit Data?

https://developers.intercom.io/reference#rate-limiting

[2016-06-14 09:50] khalilovcmd commented on #17
Hey @markalanevans , we are not exposing the Rate Limit as the return objects are of either type `Model` or `Models` which encapsulates and returns the data object only.

[2016-06-20 18:11] markalanevans commented on #17
Gotcha. So are you suggesting if we wanted to get Rate Limit info that we create our own class?  I believe we would just need access to a response header object on the client.

What would you suggest?

[2016-06-21 08:56] khalilovcmd commented on #17
Yes, that's a good suggestion. Just throwing some ideas out here to expose the HTTP Response (without breaking the client public API):

In two steps, we can do:

1. We could expose an optional `Configuration` parameter in the `Client` class' constructor. The `Configuration` object could have a boolean property `ExposeHeaders` or even `ExposeRateLimit`. The default of any of these two properties wo

[2016-06-24 01:18] markalanevans commented on #17
@khalilovcmd currently what happens if a rate limit is hit?

What is the expected workflow?

[2016-06-24 01:32] markalanevans commented on #17
It looks like you throw an exception and "rate_limit_exceeded" would be in the list of errors.

Is that correct?

[2016-06-24 08:28] khalilovcmd commented on #17
Yes Mark, that's right. If you exceed the rate limit, we receive an error response from the API and then the `Client` will throw an exception along with the information for the errors received (which in this case is the `rate_limit_exceeded`.

[2016-07-19 17:40] EdBlankenship opened #21 "Add Company to a User"
On the `UsersClient`, it looks like you have a method for removing a company

`UsersClient.RemoveCompanyFromUser`

Do you have a corresponding method for adding an existing company to an existing user?

[2016-07-19 21:31] khalilovcmd commented on #21
Yes, you could this by an `update` to the user through the `UsersClient`. It works just like any other update operations happens. Let me know if this helps 😃

[2016-07-19 22:18] EdBlankenship commented on #21
That's the other route we attempted but we're getting `ApiException`s thrown unfortunately by calling the `update` method.  We've sent Tarek the details of attempting to go that route since there isn't an `AddCompanyToUser` method.

[2016-07-20 18:49] rodball opened #24 "Can't set plan on company"
If I pass a plan with the company when updating a user, it never updates the plan information.  If I try to pass the plan and update the company directly, I get the following returned:

{"type":"error.list","request_id":"am16gofh0r4q47mltc0g","errors":[{"code":"parameter_invalid","message":"found unpermitted parameter: plan"}]}

Code is pretty simple:

            Company company = new Company()

[2016-07-20 20:37] khalilovcmd commented on #21
Can you please give it a try with the latest [Nuget](https://www.nuget.org/packages/Intercom.Dotnet.Client/) version.

[2016-07-20 20:58] rodball commented on #24
After updating for nuget, I don't get the error anymore but it still doesn't update plan information for a company.  I've also added a custom attribute that is not updating either.

[2016-07-20 21:03] khalilovcmd commented on #24
Have you updated to nuget version `1.0.12`? And if so, do you mind trying again (company updates might take few seconds to be refreshed).

[2016-07-20 21:04] rodball commented on #24
Yes, I had updated to version 1.0.12.  I waited several minutes for it to refresh but it never did.

[2016-07-20 21:57] khalilovcmd commented on #24
I just noticed this line `id = companyData.CompanyID.ToString(),`
This should be `company_id = companyData.CompanyID.ToString(),` as per the developers docs. Please give it a try.

[2016-07-20 22:09] rodball commented on #24
I'm sure that's it.  Missed it.  I'll give it try.  Thanks!

[2016-07-20 22:09] khalilovcmd commented on #24
Let me know if it works, so we can close the issue 👍

[2016-07-20 23:41] rodball commented on #24
That did it!

[2016-07-20 23:41] #24 closed

[2016-07-21 00:29] EdBlankenship commented on #21
No problem.  Updated our version and removed the binding that was added to the app.config after upgrading and we're still hitting the `ApiException` on the same line as before unfortunately.

[2016-07-22 00:34] EdBlankenship commented on #21
Nice!  The latest updates made today resolved the issue. Thank you @khalilovcmd!

[2016-07-22 00:34] #21 closed

[2016-08-11 08:58] travega commented on #17
Closing issue as not response since June.

[2016-08-11 08:58] #17 closed

[2016-08-31 18:45] markalanevans opened #28 "Add Support for Personal Token Auth"
Looks like we need to start migrating to use Personal Tokens: https://developers.intercom.io/v2.0/docs/personal-access-tokens

Let us know when you add this to the sdk and we will update our end.

[2016-09-14 09:37] khalilovcmd commented on #28
Hello @markalanevans , I have released a new nuget version `1.0.16` which supports PAT 👍

[2016-09-14 09:37] #28 closed

[2016-09-23 09:11] Skaelv opened #36 "Could not load type RestSharp.HttpBasicAuthenticator"
Customer using the C# API wrapper has an issue with `RestSharp`.
 It has stopped working recently with an error `Could not load type RestSharp.HttpBasicAuthenticator from assembly  RestSharp, Version=105.2.2.0, Culture=neutral, PublicKeyToken=null'. at IntercomDotNet.Client.GetRestClient()`

Customer's hint is that RestSharp have changed the namespace for the HttpBasicAuthenticator.
So he was able

[2016-09-28 13:09] adamrhunter opened #37 "Xamarin / Android Package install"
Hi,
When trying to install the Intercom 1.0.18 package into a Xamarin (6.1) Android application, I get the following error (from the Packages Console)

Could not install package 'Intercom.Dotnet.Client 1.0.18'. You are trying to install this package into a project that targets 'MonoAndroid,Version=v6.0', but the package does not contain any assembly references or content files that are compatible

[2016-09-29 16:13] markalanevans commented on #28
Awesome! Thank you.

[2016-10-14 15:33] alexliubj opened #40 "Does this one support Xamarin iOS now?"

[2016-10-14 15:36] alexliubj commented on #40
I'm getting this issue when I was trying to install it from Nugets

Could not install package 'Intercom.Dotnet.Client 1.0.19'. You are trying to install this package into a project that targets 'Xamarin.iOS,Version=v1.0', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2016-10-14 17:56] alexliubj commented on #40
Package 'Intercom.Dotnet.Client.1.0.18 : Newtonsoft.Json [8.0.3, ), RestSharp [105.2.3, )' does not exist in folder

But I do have them installed.

[2016-10-20 14:41] 0xdeafcafe opened #43 "DotNetCore support"
Have you looked into adding dotnet core support? Specifically the .NET Standard - https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/

[2016-10-20 16:16] 0xdeafcafe commented on #43
I forked the project and added dotnet-core support. I had to make some changes to allow for this - such as replacing `RestSharp` with `System.Net.Http`, although imo this is a much better decision as `RestSharp` is a dead project with no support anymore. I didn't port the tests, and for that reason am not submitting a pull request.

https://github.com/HelmGlobal/intercom-dotnet

[2016-10-27 13:50] JnelsonEmarketer opened #44 "Fix Conversation Tags"
Conversation tags do not show up when using the Conversation.View(id)
- Problem with Intercom.Data.Conversation.cs?

     `public List<Tags> tags { get; set; }` should be `public List<Tag> tags { get; set; }` ?

[2016-11-01 22:11] khalilovcmd commented on #44
Hey @JnelsonEmarketer , sorry for the late reply. It is probably an issue during the `deserialisation`, I will check it out 👍

[2016-11-01 22:12] khalilovcmd commented on #43
@0xdeafcafe that sounds great and sorry for the late reply. We were actually having this in our mind for a long time now. What would you say if you submit a PR, and we work on this together?

[2016-11-01 22:12] khalilovcmd commented on #40
Hey @alexliubj , sorry for the late reply. We are not yet supporting building the assemblies for Xamarin, but it is something that's definitely on our minds.

[2016-11-01 22:13] khalilovcmd commented on #37
Hey @adamrhunter , sorry for the super late reply. Can you please look here? https://github.com/intercom/intercom-dotnet/issues/40

[2016-11-02 11:41] 0xdeafcafe commented on #43
Sounds good to me.

[2016-11-02 19:53] JnelsonEmarketer commented on #44
Thanks :)

[2016-11-08 16:39] julipur opened #46 "Why are created_at and signed_up_at on the User class nullable ints and not longs?"

[2016-11-08 16:50] khalilovcmd commented on #46
Thank you for your question @julipur

Int32.Max in .NET is `2147483647`. The current time since epoch is `1478623294`. We will only reach the Int32.Max in year **2038**.

I think it will be more accurate if we have it as **UInt32**.

[2016-11-08 16:50] #46 closed

[2016-11-08 16:51] julipur commented on #46
So as long as I cast it down, I'm good. Thanks.

[2016-11-08 16:54] khalilovcmd commented on #46
@julipur Yes 👍  but it might throw an Exception if you try and cast a larger value that could be fit into an Int32.

[2016-11-18 09:30] alcjamgit opened #47 "Company Name Not Being Set When Using UsersClient.Update"
Hi,

When adding new company for the user, this is what i do:

usersClient.Update(new User() {
                                email = "example@example.com",
                                companies = new List<Company>() {
                                        new Company() { company_id = "1234", name = "company_name" } } });

This posts okay, but the name in intercom is not "company_name" but

[2016-11-19 02:27] alcjamgit opened #48 "Company created_at incorrect type"
Hi,

Why is the data type for created_at int? This should be long as this is the Unix time stamp as per the [api](https://developers.intercom.com/reference#companies):

namespace Intercom.Data
{
    public class Company : Model
    {
        public Company();

        public string company_id { get; set; }
        public int? created_at { get; set; }
        //Other properties
    }
}

I checked t

[2016-12-07 07:56] ShubinKooboo opened #49 "Hi Team, any plan to support .net core?"
Hi Team, any plan to support .net core?

[2016-12-08 22:15] gbronzer commented on #48
This is actually causing exceptions when updating companies. All the date properties should be longs.

[2016-12-15 09:46] #44 closed

[2016-12-15 14:08] khalilovcmd commented on #48
Thank you @alcjamgit for reporting this!
It has been discussed before here: https://github.com/intercom/intercom-dotnet/issues/46
I think the more accurate choice here would be `UInt32`

@gbronzer can you please elaborate of why is it causing exceptions?

[2016-12-15 15:45] gbronzer commented on #48
I was attempted to use companyClient.Update, which returns the company as the result. The call works fine, but when it tried to map the result back to the company object it blew up on the Int cast. I believe it was because the particular company had a default created_at date in Intercom which was 1/1/1901 which converts to -2177452800. When that tried to cast to an Int, it exceeded the Int32 bound

[2016-12-15 16:48] khalilovcmd commented on #48
@gbronzer I believe in this particular case, you are correct.

One side would argue:

As well as, Unix historically stores as Signed Int, and in some dbs TIMESTAMP datatype has 4 bytes.

I think we can just have it as `long` to serve all purposes!

Also, @gbronzer if you feel that you have any more changes, fixes or improvements, please send a PR right away 😃

[2016-12-23 15:30] jlcj1974 opened #51 "User phone property not supported"
.NET SDK needs to be updated to support Intercom's built-in phone attribute.

[2017-01-11 18:47] robfarmergt opened #52 "Sending dates as custom_attribute"
What is the correct way to send a `custom_attribute` so that Intercom recognizes it as a **date**? I've tried Unix timestamp as an `int` as well as a `DateTime` object but intercom shows the integer value or datetime json string respectively.

[2017-01-11 23:56] EdBlankenship commented on #52
@robfarmergt I believe that you need to make sure that the attribute name ends with `_as` as well.

[2017-01-23 13:45] nvivo commented on #51
Any updates on this?

[2017-01-23 13:47] nvivo commented on #51
It seems this was implemented on 1.0.22 and someone forgot to close the issue.

[2017-02-10 10:34] #51 closed

[2017-02-16 00:57] jasenf commented on #47
confirm same problem.

[2017-03-01 14:32] gbronzer commented on #48
@khalilovcmd I created a pull request for the long type changes.

[2017-03-02 16:16] rogerhelliwell opened #58 "Cannot obtain Notes by user_id"
We can retrieve notes by id, email or user_id. When using user_id, Intercom returns a "User not found" error. I've looked at the NotesClient code. There is an error in the List method around line 157.

else if (!String.IsNullOrEmpty(user.user_id))
            {
                parameters.Add(Constants.USER_ID, user.id);
                result = Get<Notes>(parameters: parameters);
            }

..

[2017-03-07 23:30] rmtexas opened #59 "Package assembly rename"
"Library.dll" is not a very great name with which to install this assembly.

How about IntercomIo.dll or something similarly imaginative?

Thanks for your efforts, team!

[2017-03-08 20:28] rogerhelliwell commented on #59
I would "up vote" this as well.

[2017-03-15 05:15] purushothamm commented on #36
I am also facing below error with Jira.SDK, please help resolving it.
System.TypeLoadException was unhandled
  HResult=-2146233054
  Message=Could not load type 'RestSharp.HttpBasicAuthenticator' from assembly 'RestSharp, Version=105.2.3.0, Culture=neutral, PublicKeyToken=null'.
  Source=Jira.SDK
  TypeName=RestSharp.HttpBasicAuthenticator
  StackTrace:
       at Jira.SDK.JiraClient..ctor(String u

[2017-03-15 05:27] purushothamm commented on #36
this issue got resolved by rolling back to RestSharp Version=105.0.1

[2017-04-25 11:13] mivra commented on #48
Why the pull request to fix this bug has not been merged yet?? It's blocking us to use the SDK.

[2017-05-02 15:27] michael-watson commented on #40
Pull Request #62 removes the RestSharp dependency and should allow the SDK to be installed into PCL profiles. This will enable the SDK to be used in Xamarin.iOS, Xamarin.Android and Xamarin.Forms projects.

If we can test PR #62 and verify everything works fine, this will enable a lot of Xamarin developers. Of course, there still won't be an implementation of the messenger for Xamarin, but it's a

[2017-05-22 21:09] nvivo opened #67 "ApiException doesn't have any Message set"
The ApiException should set the ApiResponseBody as the Message property.

Any logger will use the Message property or ToString to display information about the exception. Not have any message prevents the user from finding out what happened.

[2017-05-24 16:25] kristylynn9598 opened #68 "Doesn't work in SSIS"
I have to have an api that is signed,
Works with in SSIS (VS 2012)
I have worked for 3 days trying to sign, and get all pieces to work. Still not working.

{"Could not load file or assembly 'RestSharp, Version=105.2.3.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)":"RestSharp, Version=105.2.3.0, Cultu

[2017-06-12 10:25] alcjamgit commented on #48
@khalilovcmd - could you please check @gbronzer's pull request.

[2017-06-15 11:12] patoncrispy commented on #47
I'm also having this problem.

[2017-06-17 16:09] PaulColeman commented on #43
Any update on dotnetcore support?

[2017-06-19 11:05] 0xdeafcafe commented on #43
Sorry, I don't work at the company that I had to build this for so I'm not personally working on it anymore.

[2017-06-30 10:23] sofiaChat opened #69 "Get all conversations"
Hello!
Is there a way to get a list of all conversations? Is the only way to get all converstaions through users and admins?

Thanks in advance

[2017-07-31 17:30] thevalyreangroup opened #70 "RestSharp needs TLS set"
After hours of trying to figure out why my POST request to the messaged endpoint was not working and not throwing any exception, i finally figured it out by finding this issue on RestSharp's repo.

You have to set the SecurityProtocol to use TLS.  Is everyone else just using HTTP instead of secure?  I'm not sure how anyone got this SDK to work if not.  Any other insight is appreciated.

https://gi

[2017-08-07 04:08] frankfuu commented on #17
Any developments on this front?

[2017-08-07 23:59] markalanevans commented on #47
@AHBroyles
It appears that the you guys broke the company updating inside the user object when you updated this package.

[code]

This essentially only updates company name and company_id and breaks the ability to create/update new companies, or even use the "remove" key and delete companies.   which is all defined in your API.

[2017-08-08 00:28] markalanevans commented on #47
@khalilovcmd  Are you sure you wanted to do this: https://github.com/intercom/intercom-dotnet/commit/415d795a4b7e90b98b9b501ba6c63ebe08ce5cd6 and the subsequent updates

It breaks the functionality of syncing all the company data, and prevents the possibility of deleting a company using the remove flag, basically only updating company_id and name.

[2017-08-08 01:00] markalanevans commented on #47
@patoncrispy , @jasenf  version 1.0.7 (nuget) works, you just can't sync user.phone until they fix this

[2017-08-08 11:26] khalilovcmd commented on #47
@alcjamgit @markalanevans Sorry for the late response, and thank you for reporting this issue and tagging me. I have prepared a PR that will help resolve this.

[2017-08-08 11:43] #47 closed

[2017-08-08 11:45] khalilovcmd commented on #47
You should be able to [install the newest Nuget Package](https://www.nuget.org/packages/Intercom.Dotnet.Client/1.0.26).

[2017-08-08 19:46] khalilovcmd commented on #47
@markalanevans Sorry for my rusty .NET knowledge.

My intent here is an equivalent of a `List<>.Map`. Therefore, I used the `select` method to only extract the required parameters in order to avoid getting an API Error for including parameters that are not needed.

Would you like to do a refactor over here?

[2017-08-09 18:10] markalanevans commented on #47
@khalilovcmd What you did will definitely work, I was just trying to understand why sending the Customer object itself was an issue, I didn't know there were attributes on it that you should not be sending.

Thank you ver much!

[2017-08-10 11:30] khalilovcmd commented on #47
Sure 👍 Glad it is clearer now.

[2017-08-12 10:40] martinmasse opened #72 "Bug with company plan"
Hi,

There is a bug in the latest version.

https://github.com/intercom/intercom-dotnet/blob/master/src/Intercom/Clients/CompanyClient.cs

Line 193

if (company.plan != null)
   plan = company.name;

should be

if (company.plan != null)
    plan = company.plan;

[2017-08-14 12:49] choran commented on #36
Cool, thanks for the update. Just getting back to closing our some issues now so will close this.

[2017-08-14 12:49] #36 closed

[2017-08-24 17:56] ravtakhar commented on #72
Same issue had to revert back a version.

[2017-08-29 11:48] choran commented on #72
Hi @martinmasse
We just shipped an update which should resolve this issue.
Let me know if you are still having issues with the company plan attribute.
For now I will close this issue but as noted, feel free to re-open if you think the update did not resolve this issue.
Thanks
Cathal

[2017-08-29 11:48] #72 closed

[2017-08-29 11:52] choran commented on #37
Hi @adamrhunter
Would it be best to track this under #40 as indicated above?
For now I will close this since it has been open for a while and we can continue to track it under #40
But feel free to re-open if you think it is worth keeping this open as well
Thanks
Cathal

[2017-08-29 11:52] #37 closed

[2017-08-29 12:00] choran commented on #52
HI @robfarmergt
Yeah, if your custom attribute ends with '_at' we will treat it as a timestamp.
You can find out more from our API ref page [here](https://developers.intercom.com/reference#section-custom-attributes)
I will close this for now but please re-open if you are still having issues with this.
Thanks
Cathal

[2017-08-29 12:00] #52 closed

[2017-08-29 13:05] choran commented on #58
Hi @rogerhelliwell
Yeah, makes sense, there is a PR for it that we will review shortly now. We are going through the issues first and will then get to all the PRs after that.
Thanks
Cathal

[2017-08-29 13:15] choran commented on #49
Hi @ShubinKooboo
I am going to close this since we are already tracing this under #43
Thanks
Cathal

[2017-08-29 13:15] #49 closed

[2017-08-29 13:22] choran commented on #68
Hi @kristylynn9598,
I believe you were speaking to one of our CS team and confirmed that you got this working successfully. I am just going to close this as a result but please re-open if this is incorrect and this is still and issue.
Thanks
Cathal

[2017-08-29 13:22] #68 closed

[2017-08-29 13:24] choran commented on #48
Hi all,
Apologies for not getting to this yet, we will review all dotnet PRs shortly and ensure they are reviewed more frequently in future
Thanks
Cathal

[2017-08-29 13:46] choran commented on #67
Hi @nvivo,
OK, I think I understand, at the moment you do have access to the message via the exception body attribute but you are saying that some loggers will automatically just grab the message property so it would not be included then.
Is that correct? i.e. you can handle the exception fine manually but not with some loggers?
It does make sense and we should get to it but there might be a few o

[2017-08-29 13:50] choran commented on #40
Hi @michael-watson
Thanks for this, we will try and review this. As noted, it is something that we are thinking about but it is not the highest priority at the moment. But if the PR helps we will defo try and take a look at that asap and see if we can merge it.
Thanks again
Cathal

[2017-08-29 13:52] choran commented on #59
Hi @rmtexas
I think this has been updated now, it should be "Intercom.dll" now.
I will close this but let me know if you still see the old name
Thanks
Cathal

[2017-08-29 13:52] #59 closed

[2017-08-29 13:56] choran commented on #70
Hi @thevalyreangroup
I think we had a temporary issue after updating API setting which impact TLS configuration.
This issue should now be resolved
I will close this for now as other customer confirmed at the time that the issue was also resolved.
but please re-open in case this was unrelated to the temporary issue.
Thanks
Cathal

[2017-08-29 13:56] #70 closed

[2017-08-29 13:59] choran commented on #69
Hi @sofiaChat
Yeah, this is correct, you need to list either via admin or user.
Out API does allow you to list [all conversations](https://developers.intercom.com/reference#list-conversations) so we should also have that in the SDK
I was unaware we did not allow this but it seems like you are right.
This is something we would want to address. If anyone wanted to submit a quick PR for the we would

[2017-08-29 14:01] choran commented on #43
Hi All,
Just wanted to update here, this is something we are interested in doing but at the moment it is not our main priority for the SDK. We are focused on working through the PRs and identifying the other API feature that may be needed in the SDK before getting to this.
Just wanted to provide an update,
Thanks
Cathal

[2017-08-30 01:06] frankfuu opened #75 "Cannot use UserClient.Update() without force passing a companies object"
After updating to the latest Nuget package 1.0.27

https://www.nuget.org/packages/Intercom.Dotnet.Client/1.0.27

I'm no longer able to use the `UsersClient.Update()` call without force parsing a `companies` object

My workaround is to just supply a dummy `companies` object as follows
[code]

Is this by design?

[2017-08-30 05:39] markalanevans commented on #75
@frankfuu what happensif you don't set it.

From here:
https://github.com/intercom/intercom-dotnet/blob/master/src/Intercom/Clients/UsersClient.cs#L409-L440

It looks like it just sends an empty company.

[2017-08-30 05:43] frankfuu commented on #75
If i don't set the `companies` object with dummy data. I get an exception.
[code]

And the error message
[code]

[2017-08-30 05:49] markalanevans commented on #75
@frankfuu  you are right, the data type is a list of companies.

This line https://github.com/intercom/intercom-dotnet/blob/master/src/Intercom/Clients/UsersClient.cs#L409

Should  be
[code]

Just submit a PR for it. it's a quick fix.

[2017-08-30 05:50] frankfuu commented on #75
Could it be that if Line [411 ](https://github.com/intercom/intercom-dotnet/blob/master/src/Intercom/Clients/UsersClient.cs#L411)doesn't execute then the `new object()` object in line [409 ](https://github.com/intercom/intercom-dotnet/blob/master/src/Intercom/Clients/UsersClient.cs#L409)get's passed into line [432](https://github.com/intercom/intercom-dotnet/blob/master/src/Intercom/Clients/UsersC

[2017-08-30 05:52] frankfuu commented on #75
@markalanevans. Ok sure thing

[2017-08-30 06:29] frankfuu commented on #75
Just [created a PR here](https://github.com/intercom/intercom-dotnet/pull/76)

[2017-08-30 14:41] stephenstroud opened #77 "Contacts"
Are contacts leads?

[2017-08-30 18:12] EdBlankenship commented on #77
@stephenstroud:  Yep!  They used to be called `contacts` and so the REST APIs still call them `contacts` as well.

[2017-09-07 16:12] choran commented on #77
Yeah, this is a little confusing, as noted, the endpoint on the REST API is contacts. But we should clarify that in the README.
I will close this for now but as always feel free to reopen should you have any other questions/clarifications
Cathal

[2017-09-07 16:12] #77 closed

[2017-09-07 16:13] choran commented on #75
Thanks for submitting the PR, will take a look as soon as I can
Thanks again
Cathal

[2017-09-11 20:28] nvivo commented on #75
When will the fix be released?

[2017-09-13 17:00] garethbrown commented on #75
Ditto. Would be nice to get this merged please.

[2017-09-18 13:57] choran commented on #75
Hi @frankfuu, @markalanevans, @nvivo, @garethbrown
Apologies for the delay here, Just merged this in now and it should now be available on latest version.
Thanks for the PR.
I tested this and I was able to create users without needing to provide a company. So I will close this for now but please let me know if you are still encountering issues with updating/creating users with companies.
Thanks ag

[2017-09-18 13:57] #75 closed

[2017-09-25 10:24] choran commented on #58
Hi @rogerhelliwell
There was a PR for this which we merged last week and should now be available in latest release.
As a result I will close this issue.
If you still see any issues then please feel free to re-open this again.
Thanks
Cathal

[2017-09-25 10:24] #58 closed

[2017-10-25 02:10] Nicholi commented on #43
RestSharp is working on their netstandard support, they currently have pre-release packages available. No real modifications are necessary for intercom-dotnet. Everything seems to be working with the latest RestSharp pre-release, but I wouldn't call it stable until RestSharp does.

I made a fork myself, and updated to latest nunit at same time. All of the modifications were just fixing deprecated

[2017-10-26 12:46] dereckbester commented on #69
+1 For this request

[2017-10-31 01:55] juliancarrivick opened #82 "Company doesn't support website property"
As described in the [API docs](https://developers.intercom.com/v2.0/reference#company-model), there is a website property on a company, however as can be seen on [Company.cs](https://github.com/intercom/intercom-dotnet/blob/master/src/Intercom/Data/Company.cs), this is not available on the C# model.

[2017-11-01 11:14] choran commented on #82
Hi @juliancarrivick
Yes, thanks for noting this, there were a few attributes recently added to the company model which we have not yet updated on all SDKs.
We are trying to update all our SDKs for this but I cannot provide a timeline for this at present.
If you would like to provide a PR for this we can review that also. We just note that this is an option for customers that can help with specific

[2017-11-01 11:18] choran commented on #43
Hi @Nicholi
Thanks for the update. I was not aware of that. We can look into this some more as well to see what needs to be done. If, like you said, no major changes need to be made then it would be good.
Thanks again
Cathal

[2017-11-04 04:22] juliancarrivick commented on #82
Thanks Cathal, not a blocker for me so I'll try to do a pull request if I find time (I'll let you know if I start), otherwise it can wait until the update :)

[2017-11-07 02:14] thewheat opened #85 "Company tags are not supported when viewing a company"
When viewing a company via the API, tags on the company are returned as seen in the API output below

![image](https://user-images.githubusercontent.com/892961/32473679-cccbc0ec-c3a3-11e7-81a4-8a09f7201e76.png)

But the current .NET SDK does not support retrieving them for companies
![image](https://user-images.githubusercontent.com/892961/32473805-4d473bf2-c3a4-11e7-88ad-a1b9190685a0.png)

The Us

[2017-11-07 06:18] shaQuantum commented on #85
It would save lot of network calls if user and company can be tagged on saving user and customer.

[2017-11-07 08:48] kmossco commented on #82
@juliancarrivick it seems that there are a few fields from the company model missing, and I was looking into adding them. However, if you're interested in doing this yourself I am more than happy to either review it or tag-team. 🙏

[2017-11-09 00:49] juliancarrivick commented on #82
@kmossco Unfortunately I'm probably not going to get time to do this in the near future sorry :/

[2017-11-09 08:39] kmossco commented on #82
@juliancarrivick no worries at all, thank you so much for flagging this! I'll get to it then. 😉

[2017-11-09 08:40] kmossco commented on #85
Related to #82

[2017-11-17 12:31] kmossco commented on #82
Fixed by #86. Thank you so much for flagging this @juliancarrivick! 🤜 🤛

[2017-11-17 12:31] #82 closed

[2017-11-21 14:15] alexeyzimarev commented on #43
@choran RestSharp is released with .NET Standard 2.0 a couple of weeks ago. I get messages that it breaks the intercom.io library. If you need help - please let me know.

[2017-11-21 14:48] alexeyzimarev commented on #40
@choran RestSharp 106 and Newtonsoft.Json both support .NET Standard 2.0, so this might be not that hard.

[2017-11-21 14:49] alexeyzimarev commented on #40
@michael-watson I would avoid PCL at all costs and move to .NET Standard as soon as possible. I am not sure about the current status of Xamarin but I am quite certain that this is where it is going.

[2017-11-22 01:02] theandrewykim opened #87 "Company tag action does not currently support targeting by company_id"
Tagging a company with a company_id

Returns a 404. Currently the call is not sending any company data to Intercom on POST.

Labeling as a bug, as this behavior is currently documented.

`tagsClient.Tag("new_tag", new List<Company>() { new Company() { id =  INTERCOM_ID } });`

`tagsClient.Tag("new_tag", new List<String>() { INTERCOM_ID }, TagsClient.EntityType.Company);`

Seem to work when specifi

[2017-11-22 01:12] thewheat commented on #87
Digging into this, the code extracts just the `id` / Intercom ID value in several locations

- https://github.com/intercom/intercom-dotnet/blob/c95b92e0d56edc67d608478b89ff26a6e279db5e/src/Intercom/Clients/TagsClient.cs#L175
- https://github.com/intercom/intercom-dotnet/blob/c95b92e0d56edc67d608478b89ff26a6e279db5e/src/Intercom/Clients/TagsClient.cs#L230-L243
- https://github.com/intercom/intercom

[2017-11-24 12:15] choran opened #88 "cannot set user_id to null"
#### Description

- It is not possible to clear a user_id value using the .NET SDK
   - Setting it to `null` does not send the data to the API
- curl request as expected and allows it

* * *

#### Evidence

[code]
If you run the above code you will see that it does not change the suer_id

[2017-11-24 14:12] kmossco opened #90 "DotNetStandard 2.0 Support - roadmap"
Thanks to the continued feedback from the community, we have now prioritised in our roadmap to implement these bindings in DotNetStandard 2.0. We haven't yet decided if we will keep `RestSharp` as a dependency but we hope to have taken a decision and started implementation in the next couple of weeks.

And in order to keep this discussion more organised and cleared, I have now closed the other iss

[2017-11-24 14:13] kmossco commented on #43
Thanks to the feedback in this issue we have now prioritised this work. To keep things clearer, I have closed all the issues related to this support so we can keep the discussion here: #90

[2017-11-24 14:13] #43 closed

[2017-11-24 14:13] kmossco commented on #43
@alexeyzimarev thank you so much for the help. We'll definitely let you know if we bump into any issues. 👍

[2017-11-24 14:17] kmossco commented on #40
We agree with @alexeyzimarev in that it's best if we move to .NET Standard 2.0 and we have now prioritised this work on #90.

[2017-11-24 14:17] #40 closed

[2017-11-29 00:17] Nicholi commented on #90
As I stated in https://github.com/intercom/intercom-dotnet/issues/43, there should be zero modifications necessary for the Library code when updating to the latest RestSharp netstandard release (which is now stable).

You can see my branch here: https://github.com/Nicholi/intercom-dotnet/tree/netstandard20
The only things you have to do is just create new csproj files really. The new netcore cspro

[2017-12-05 21:42] kmossco commented on #88
Working on this one and it seems that somewhere where we serialize the JSON object to be sent to the Intercom servers, we are disregarding any changes to null.

If I try to run the code in the OP there I get the following payload:

[code]

Running the same setting the email to null sends the following payload:

[code]

That's odd, because using curl for the same user but just changing the created_

[2017-12-13 23:06] kmossco commented on #87
Should be fixed by PR #91. Waiting on a review. 👍

[2017-12-14 06:41] juliancarrivick opened #92 "Unable to remove a company when updating a user"
Rather than using the UsersClient.RemoveCompanyFromUser method, I would like to remove the company when performing a user update as described [here](https://developers.intercom.com/v2.0/reference#companies-and-users).

I would expect that setting the remove flag on a company that is in the company list of a user would do this, however the remove flag does not get passed into the generated JSON as

[2017-12-14 19:26] kmossco commented on #92
Thank you for reporting this @juliancarrivick! That definitely needs to be fixed. Do you want to cook up a PR for this? Otherwise I can try and get it sorted as soon as possible. 👍

[2017-12-15 00:02] juliancarrivick commented on #92
@kmossco I should be able to get a pull request in :)

[2017-12-19 16:33] #92 closed

[2017-12-19 16:42] #87 closed

[2017-12-19 17:33] kmossco commented on #88
Investigated this alongside @thewheat and this isn't a trivial fix as we will have to refactor how we create the JSON payload sent to the endpoints. Postponing a fix until we get other more impactful changes out.

[2018-01-08 00:31] kmossco commented on #48
This has been fixed recently: https://github.com/intercom/intercom-dotnet/blob/master/src/Intercom/Data/Company.cs#L14

[2018-01-08 00:31] #48 closed

[2018-01-08 09:13] thewheat opened #95 "Replying to Users Last Conversation not currently supported"
The API allows [replying to the last conversation of a user](https://developers.intercom.com/reference#replying-to-users-last-conversation) but [AdminConversationReply.cs](https://github.com/intercom/intercom-dotnet/blob/cf1388945f8361e61873b59adc12bdfc7eefc7d5/src/Intercom/Data/AdminConversationReply.cs) does not seem to expose ways to identify the user

Tested and possible identifiers are `inter

[2018-01-08 10:04] kmossco commented on #95
I'll be finishing the move to netStandard 2.0 this week, and then will focus on bringing feature parity to the /users endpoint. If anyone wants to give this a try it would be perfect. 👌

[2018-01-10 16:52] ditchcode opened #96 "WHO does this"
I cannot believe after all this time the output library is still named Library.dll.  What decent development team would make a decision to do this with the intention of releasing their API to the community?

[2018-01-10 17:14] kmossco commented on #96
Hey @ditchcode! Completely understandable that it isn't the best of names, and it's actually something I hope to have fixed with a PR coming this week, so thank you for your feedback on this.

Note however that we are always happy to get Pull Requests from the community, so if you spot something that isn't quite right and have the time, feel free to send us a PR to review. We'll be happy to have m

[2018-01-12 14:51] kmossco commented on #96
I have now pushed a PR to fix this problem. Feel free to give it a shot and see if this fixes what you were referring to with the library output. I'll only close this when the PR is merged successfully. 👍

[2018-01-12 14:52] kmossco commented on #90
I have now pushed a PR that brings all this discussion into a conclusion. I also left a few notes on my train of thought in the PR comment. I'll close this when the PR is merged, but if anyone reading this could test that branch and see if it works for them it would be greatly appreciated! 🎉

[2018-01-12 14:52] kmossco commented on #85
This issue will be fixed with PR #97. Waiting for some testing before merging.

[2018-01-12 17:17] twilly86 opened #98 "Rest Sharp conflict"
After upgrading to the latest version of the intercom pacakage, I keep getting this error, I am on the latest version of restsharp..

Additional information: Could not load file or assembly 'RestSharp, Version=105.2.3.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x8013

[2018-01-12 17:57] kmossco commented on #98
In that case you are on the current stable version of Intercom. If you revert RestSharp to 105.2.3 does it work? And can you tell me which framework you are compiling against? Our current version only supports net45.

[2018-01-22 22:12] jefflafay opened #99 "Authenticating with Access Token"
I believe that I'm having an issue with authentication. I'm trying to do some server side operations and I have a test environment setup with intercom. That test environment has an app ID and an access token for making API calls.

I'm not getting any exceptions but I've tried instantiating an Authentication object by using both constructors and fetching a list of my users is returning null (as wel

[2018-01-22 22:53] kmossco commented on #99
Hey @jefflafay! 👋 That's an odd one. I tried that code on my end and it works correctly. Is it possible that you have a mistyped access token? They always end with a `=` but it doesn't always get automatically selected when copy-pasting from our integrations page.

If that's not the case, could you tell me your app_id? Alternatively, if you don't feel comfortable sharing it here, you can always co

[2018-01-24 08:25] kmossco commented on #98
@twilly86 were you able to get this working, or are you still blocked?

[2018-01-24 14:42] jefflafay commented on #99
Hey @kmossco I double checked the access token and I'm utilizing the correct one. So a few questions for you..

Which Authentication constructor should I be using when making calls with the access token? I provided two examples but I would like to know which one is correct. Also, if it's an access token issue, shouldn't some type of exception be thrown when I make calls? That's what I expected and

[2018-01-24 15:56] kmossco commented on #99
Hey @jefflafay! The only accepted authenticator at the moment is this:

[code]

The other one was reserved for when we were using API keys, and expects that you pass an API key there for it to work. I have however just tried the other method with app_id + access token and I get immediately an API exception:

[code]

Are you not getting these exceptions? I checked our logs for your app_id and I was

[2018-01-24 16:54] jefflafay commented on #99
So I tried running as admin and making sure that debugger settings are fine. I also turned off windows firewall in case that was the issue. I added extra characters to the token and attempted a call but yielded the same results: no exception and null value.

The other calls that you saw were from a client that I wrote in the mean time to call the REST API to carry out operations. I deleted a user

[2018-01-24 17:06] kmossco commented on #99
That's really odd. 🤔 Can you tell me what IDE if any you are using, what debugger and if the code you sent us before isn't the whole file, could you sanitise it and send it over so I can try on my end?

[2018-01-24 18:29] kmossco commented on #99
Can you reply to your thread in Intercom with Emily and attach the zip there? Currently based in Europe so won't be online for much longer, and this way she can forward it to me to test it first thing tomorrow. 👍

[2018-01-25 17:19] tekook commented on #70
Hi @choran,

just started using Restsharp and ran into this exact issue again.
Using V 106.2.1 with .Net 4.5.2.
Without the Lines: ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12 | SecurityProtocolType.Tls11 | SecurityProtocolType.Tls;

All my connections get closed.

[2018-01-29 23:26] kmossco commented on #99
Closing this one as after talking with @jefflafay I could see that he is compiling the current version of the SDK with .NET Core, while we only support .NET 4.5. Testing locally I got a lot of debug messages from Visual Studio and the program didn't compile. This is not something we will be able to fix as we are hoping to release very soon our new version that supports .NET Standard 2.0.

[2018-01-29 23:26] #99 closed

[2018-01-29 23:27] kmossco commented on #98
Closing this one as no further reports were open since then both here and in Intercom. It is very possible that the RestSharp version being used needed a different compiler and as such a .NET Core/Standard compiler was being used and our library isn't ready yet for it.

[2018-02-06 13:40] FFRainman opened #100 ".NET SDK Create company, attributes missing"
With the current version of the .NET SDK (1.0.31) the following code:

[code]

Doesn't correctly set the "created_at" and "industry" properties on the company.

Even when calling update to that company those properties doesn't get set.

[2018-02-06 13:43] kmossco commented on #100
Looking at the current code I can see that a `created_at` attribute is missing, but we do have an `industry` attribute since this PR: https://github.com/intercom/intercom-dotnet/pull/94.

Not quite sure why it isn't being set, but looking into it. 👍

[2018-02-14 17:55] RafaelCavazza opened #101 "assigned_to deserialize"
Why the 'assigned_to' attribute in the ConversationPart class is a string in the bv/netstandard2.0 branch?

It shouldn't be 'Assignee'?

![image](https://user-images.githubusercontent.com/8078357/36219907-084d925e-11a0-11e8-9356-ba74481d053d.png)

![image](https://user-images.githubusercontent.com/8078357/36219940-23490ec6-11a0-11e8-9b33-099d4718c2eb.png)

When I tried to run the netstandard2.0 br

[2018-02-14 21:43] kmossco commented on #101
Hey @RafaelCavazza! Thank you so much for reporting this, seems like this is wrong indeed. I tested this based on the conversation part model in our API reference [here](https://developers.intercom.com/reference#conversation-part-model):

<img width="636" alt="image" src="https://user-images.githubusercontent.com/11810153/36229671-f15f7bd6-11cf-11e8-8ecf-68d0008e46b7.png">

But I think my testing

[2018-02-15 12:42] kmossco commented on #101
This is now fixed here: https://github.com/intercom/intercom-dotnet/pull/97/files#diff-aa05218441e91c417e15908edaec2380R17. And will update the documentation so the API reference reflects what is returned. 👍 Thanks once again!

[2018-02-15 12:42] #101 closed

[2018-02-15 12:43] RafaelCavazza commented on #101
Hi @kmossco!

Thanks for the response!

We are developing a integration using the bv/netstandard2.0 branch.
We are migrating to the Net Core envioroment and will be using some of the API functionality.

I'll report any bug, issue or improvement we find.

We hope to see soon the .netStandard2.0 package in your nuget.

Best Regards!

[2018-02-15 12:44] kmossco commented on #101
Glad to hear it!  🎉We are currently working on getting it peer reviewed to ensure we don't break anyone's workflow, and hopefully we will have a release very soon!

And if you spot anything missing, a bug or have any feedback we are all 👂s!

[2018-02-15 12:58] kmossco commented on #100
I can see that the problem is that you are trying to update a value that is reserved for Intercom. If you check the company Model there are two lines that are relevant here:

https://github.com/intercom/intercom-dotnet/blob/7d2dff504425daa797ceb8bf2d91af2049fa25ba/src/Intercom/Data/Company.cs#L13
https://github.com/intercom/intercom-dotnet/blob/7d2dff504425daa797ceb8bf2d91af2049fa25ba/src/Intercom

[2018-02-16 14:50] FFRainman commented on #100
`created_at` should probably be set as read only then in the Company model in the .NET SDK if it's something you cannot change.

It seems to be working now, at least with the `created_at` being set from Intercom but setting `industry` doesn't do anything, the value is still set as `unknown` in Intercom.

[2018-02-16 15:01] kmossco commented on #100
Hey again @FFRainman can you send me the request_id of a call you made with the industry value and where it didn't go through, as well as a snippet of code you used for it? I can investigate this further. 👍

[2018-02-16 15:13] FFRainman commented on #100
Here is a simple code snippet from .NET, not sure where to find the `request_id` of the call.
[code]

[2018-02-16 15:20] kmossco commented on #100
The request_id should be in the headers that we return from the server. But with this code it should be enough, looking into it! 👍

[2018-02-23 21:14] agamanyuk opened #102 "Doesn't work with the last version of RestSharp"
It seems like the library doesn't work with RestSharp 106.0.1. Why don't you remove the dependency on RestSharp at all?

[2018-02-23 23:36] kmossco commented on #102
Hey there! We currently have a PR open for review that moves the library to .NET Standard 2.0 and works with the latest version of RestSharp. Maybe you can give that a try?

PR: https://github.com/intercom/intercom-dotnet/pull/97

More info on why we didn't remove this dependency is also in that PR comment. Hope that helps!

[2018-03-01 13:27] dkarger commented on #102
Hi @kmossco i've hit this restsharp issue too. When you're ready to merge in the PR in and create a pre-release nuget package i'd be happy to test out.

[2018-03-01 13:49] kmossco commented on #102
Hey @dkarger! We hit a snag with creating that release but working on it to get out of the way asap. 👍

[2018-03-02 14:01] jonnyom opened #104 "Company plan doesn't get added to company object correctly."
Using this code:

[code]

Generates this payload:

[code]
But the plan doesn't appear on the company.

[2018-03-02 14:09] kmossco commented on #104
Thank you for the report @jonnyom! Looking into this!

[2018-03-02 15:52] sereeth commented on #102
Yep same here, you have to use 105.2.3 or it blows up.

[2018-03-08 16:10] puwalowski opened #105 "It's impossible to increment company web session"
Company web session increments only when user and company data are send together in the same request along with attribute new_session = true.

Currently User model does not contain attribute new_session thus it's impossible to increment company session.

[2018-03-16 22:07] neooleg commented on #90
@kmossco could you pls update -- is there is any progress?

[2018-03-17 20:36] kmossco commented on #105
You're definitely right, I'll be adding this soon!
[Reference for this feature](https://developers.intercom.com/v2.0/reference#incrementing-user-sessions).

[2018-03-17 20:37] kmossco commented on #90
So sorry for the delay in getting this out of the door. We unfortunately hit a snag creating the Nuget package in a way that it doesn't break plenty of apps that don't want to upgrade the library, and we are working to create a new release. We should have an update very soon though!

[2018-03-17 20:42] kmossco commented on #102
The problem here is really that the new version of RestSharp has both assemblies: Net 4.5 and Net Standard 2.0. Our library currently only supports the Net 4.5 assembly for now.

[2018-03-17 20:42] kmossco commented on #102
Closing this one for now as the problem is identified to be outside of the realm of this library, but please reopen if there's anything I can help with!

[2018-03-17 20:42] #102 closed

[2018-03-17 21:26] neooleg commented on #90
Thanks for update, Bruno.

Looking forward for Core release!

On Sat, Mar 17, 2018, 22:37 Bruno Vieira <notifications@github.com> wrote:

--
Best regards,
Oleg

[2018-03-17 21:47] NPSF3000 commented on #90
@kmossco thanks for the update 😊

[2018-03-26 13:19] niemyjski commented on #90
+1, also can we get a fully async api :D

[2018-03-26 13:32] kmossco commented on #90
@niemyjski that's definitely in our plans too! 😄

[2018-03-30 22:26] ladotonia opened #107 "Client.cs uses HttpBasicAuthenticator which appends invalid header"
HttpBasicAuthenticator  appends the header:
[code]

while all the api docs suggest using the header -H 'Authorization:Bearer <access_token>'

Are access tokens supported in this SDK? or does the authenticator need to be updated to support the updated api?

[2018-03-31 00:44] kmossco commented on #107
Hey @ladotonia! This library already supports Access Tokens through this part of the code:

https://github.com/intercom/intercom-dotnet/blob/14f09901e63ca3a9dd3dbd34cc39379bae814f7e/src/Intercom/Core/Client.cs#L296-L306

It works correctly if you send the access token as the app_id with the password as an empty string, which is what this library is doing for now. We have plans to make sure it matc

[2018-04-01 14:44] kmossco commented on #105
@puwalowski I have now rolled a fix for this in #97, where you can either increase a user session + company by sending an `Update` call with the `new_session = true` or using the `IncrementUserSessions` by passing the user `id` and a list of companies.

[2018-04-01 16:15] kmossco commented on #100
Hey again @FFRainman! I did another round of testing and this seems to be working in both the old version of the library and the PR #97. This is what I tested:

[code]

This created the following company:

![image](https://user-images.githubusercontent.com/11810153/38175178-12eaca66-35d0-11e8-941a-b2e131bec05a.png)

Listing the `remote_created_at` attribute returns:

[code]

Is this still not work

[2018-04-01 16:16] #100 closed

[2018-04-01 16:28] kmossco commented on #104
@jonnyom I tested this a bit more thoroughly and it seems to be working using this code:

[code]

This generated the following payload:

[code]

![image](https://user-images.githubusercontent.com/11810153/38175273-08a05f92-35d2-11e8-87c1-26eb48ae87b1.png)

It does take a few seconds until it loads in the UI, maybe that was what caused the confusion? In any case, closing this for now as I can't see

[2018-04-01 16:28] #104 closed

[2018-04-01 17:06] kmossco commented on #67
Hey @nvivo! We are currently using the `ApiResponseBody` to present most of the data and throwing a 404 with this code will return:

[code]

[code]

Do you mean you wanted the Exception to throw a `Message` where it would show just `Company Not Found`?

[2018-04-02 14:15] ladotonia commented on #107
Hi @kmossco, I did try using the single argument constructor for Intercom.core.Authentication using only my access token.

I am unable to create a new Contact or User through the .net SDK, however when I directly hit the rest api the same command is successful. The main difference I was noticing, was that the api mentions to send the access key in plain text as `Bearer <access-key>` where the Http

[2018-04-02 15:44] nvivo commented on #67
Hi, I was going to do a PR and ended up working around and forgot about it.

The thing here is just about defaults, what should happen if the user doesn't explicitly look at ApiErrors/ApiResponseBody. By default, all libraries I have ever worked with set the .Message property to something meaningful, so that any generic handler or logger can see at lease some information about the error.

Of cours

[2018-04-03 07:19] kmossco commented on #107
Hey again @ladotonia! Just to be sure, is `Intercom.Core.Authentication` a method you created? That doesn't seem to be how you instantiate the authentication in our library. Here's the correct code:

[code]

Is it possible that you are using some other library than ours? I also can't find the `<accesskey>:` in our codebase.

[2018-04-03 07:38] kmossco commented on #67
@nvivo obrigado! That makes total sense and really wanted to make sure we captured exactly what you meant before we work on this. I'll look into making this override soon. 🙌

[2018-04-03 18:11] ladotonia commented on #107
`Intercom.Core.Authentication` is just the full namespace path to the same class `Authentication` that your code is using, so my snippet is functionally the same as yours.

The `"<access-key>:"` bit is just the result of what the HttpBasicAuthenticator Base64 encodes into the auth header if it is constructed as `new HttpBasicAuthenticator("<access-key>",String.Empty);` This is a result of the Stri

[2018-04-04 00:56] thewheat opened #108 "Company website not updated when creating a company in a user create/update call"
- If you supply company details when making a user create/update call, it does not update the website attribute on the company
- Sending a company website in this manner **is supported via the API** using a raw API call with the following data (which correctly updates the website on a company)
[code]
- But using the following with the .NET library does not update the company website
   - It does u

[2018-04-06 21:03] adeelhasan opened #109 "Getting authorization error"
Hi,

Without a code change at our end, we started to see the following error :

`{\"type\":\"error.list\",\"request_id\":\"b2jiv6iroeecej5qclm0\",\"errors\":[{\"code\":\"token_suspended\",\"message\":\"Unauthorized token, suspended application\"}]}`

I have verified that the token is correct : have made successful api calls in Python and we are also able to use the application fine.

I talked to I

[2018-04-06 22:10] kmossco commented on #109
Hey @adeelhasan! It seems that your app has been suspended, so this is not a problem with the library itself. Can you try reaching out to our support team for us to investigate this further? You can find us either using the Messenger when logged in to Intercom, or by emailing us at team[at]intercom.io.

[2018-04-06 22:11] #109 closed

[2018-04-07 21:57] kmossco commented on #107
Gotcha, the reason I asked is that there is an unofficial client called `Intercom.Core.Client` and I was wondering if that was related. You are right in that we are not appending the best headers right now as the initial change made to accept access tokens was simply passing it as the app_id identifier and keeping the api_key field empty. This is fully supported and we have no plans to deprecate i

[2018-04-07 22:05] kmossco commented on #108
The problem seems to be how we construct the JSON body for the requests and needs to be overhauled. I believe the problem is here:

https://github.com/intercom/intercom-dotnet/blob/7d2dff504425daa797ceb8bf2d91af2049fa25ba/src/Intercom/Clients/UsersClient.cs#L407-L442

So even if you send more details than the ones there in this method, they won't be sent. 😞

[2018-04-09 13:00] adeelhasan commented on #109
thanks for replying. as mentioned in the ticket, I am able to make calls using Python with the same token, from the same machine as I am getting the error with the SDK. Intercom support verified too, by doing a CURL with the same token.  So if the app was suspended, the Python call should have failed too. For some reason using the SDK or using a call with the .net webclient -- basically a call fro

[2018-04-09 21:23] agamanyuk opened #110 "Add utm_campaign and other fields to the User class"
I need to be able to set  **utm_campaign**, **utm_source** and other related field using the C# library. The REST Intercom API allows that, I just rant the following HTTP request:
[code]

[2018-04-10 15:13] kmossco commented on #109
I checked with our team and it seems that the problem was indeed an incorrect token, so I'll leave this closed. I hope that solves it and ping us if you spot any other problems.

[2018-04-11 13:33] kmossco commented on #96
This is now fixed in the new version. 🎉

[2018-04-11 13:33] #96 closed

[2018-04-11 13:34] kmossco commented on #85
This is now fixed in the new version. 🎉

[2018-04-11 13:34] #85 closed

[2018-04-11 13:34] kmossco commented on #90
Closing this as we have now a new version out that supports DotNetStandard. Going through the issues already open and will work next on adding the missing features to the SDK. Please let us know if you spot any problems/errors. 🎉

[2018-04-11 13:35] #90 closed

[2018-04-13 00:44] markalanevans opened #112 "How do we Access Throttle Headers"
@travega @khalilovcmd so how do i get access to the headers?

[code]

[2018-04-17 08:37] Fahrenheit9292 opened #113 "Conversation model field "conversation_parts" is always null despite it shouldn't"
I have a problem regarding API conversation model: on your reference I could see this is the Object that contains conversation_parts Object
Now when I try to get the Conversation object from JSON I always get the conversation_parts object with null value despite it has the value when using the Postman request
conversation ID as example
**15673691858**
![image](https://user-images.githubusercontent

[2018-04-19 11:47] kmossco opened #114 "Create a working demo of the encrypted payload support as in the Rails SDK"
**Notice**: This is not supported by our SDK and there are no plans to support it in the future, as our Rails SDK has a different scope where it is a client-side integration.

Opening this issue here so that if anyone works on [recreating this PR from one of our engineers](https://github.com/intercom/intercom-rails/pull/263) in that SDK, we can share it with other C# users. And also to serve as a

[2018-04-20 13:32] kmossco opened #115 "The output type of the library is wrong causing namespacing problems"
We seem to have accidentally set the output type of the library as a console app, so if we use it in a class application it fails like this:

![image](https://user-images.githubusercontent.com/11810153/39053687-86b76b12-44a7-11e8-94f5-559599ba8fb7.png)

Kudos to @leviathan898 for spotting this. Will try to get a new release out asap!

[2018-04-24 07:12] a-patel commented on #115
Any update?

[2018-04-24 11:39] kmossco commented on #115
Should have this done either today or tomorrow. 👍

[2018-04-24 11:40] a-patel commented on #115
@kmossco
Thanks

[2018-04-25 22:47] alx-andru commented on #115
looking forward to a fixed version 😁

[2018-04-26 00:45] kmossco commented on #115
I have now pushed a new version to Nuget that should fix this. Can you try 2.0.2-beta and see if that works?

[2018-04-26 04:33] a-patel commented on #115
@kmossco
I am still unable to Intercom classes.
![intercom-error](https://user-images.githubusercontent.com/8511777/39285990-096436fe-4939-11e8-8718-0a29fd131204.PNG)

[2018-04-26 06:30] kmossco commented on #115
Thank you for the report @a-patel. Just to be sure, can you tell me what type of project this is? Is it NetCore, NetStandard? And is it a Console App or a Class Library?

[2018-04-26 07:08] kmossco commented on #115
I did a few tests and it seems that if I pull from Github and build the .dll locally I can add it correctly to either to a NetCore console app, or a NetStandard/NetCore library.

However if I install from NuGet, I keep having the namespacing problem. Investigating if there's anything in the build in NuGet that could be causing this.

[2018-04-26 08:45] Fahrenheit9292 commented on #113
Hey there,
I'm using the 2.0 .NET SDK that is now available on GitHub.

Best regards,
Andrey

On Thu, Apr 26, 2018 at 10:17 AM, Bruno Vieira <notifications@github.com>
wrote:

[2018-04-26 10:53] a-patel commented on #115
I am using ASP.NET Core (2.0).
I have also tried in .NetCore Console application but still same issue.

[2018-04-26 10:56] a-patel commented on #115
I am able to load all core domain Intercom classes, when I am using version 1.0.31.
But I am not getting the valid response. Response is always null and not getting any exception. (I also chat with your live support but no luck)

FYI: For that I am using ASP.NET Core (2.0).

[2018-04-26 10:56] a-patel commented on #115
I need it urgently.

[2018-04-26 12:37] alx-andru commented on #115
Can confirm `2.0.2-beta` shows same behaviour

[2018-04-26 12:50] DotJoshJohnson commented on #115
@kmossco - I don't know if you guys run local builds before deploying or use a build server, but if you build locally, you'll want to ensure you do a **Rebuild** so the cached build objects are purged. I've had issues in the past where changes to the `*.csproj` alone were not enough to trigger a full rebuild, so the previously-built assembly was used.

[2018-04-26 13:09] alx-andru commented on #115
@DotJoshJohnson Just tried a blank new project via

1.  `dotnet new webapi`
2.  `dotnet add package Intercom.Dotnet.Client --version 2.0.2-beta`
3.  `dotnet restore`
4.  `dotnet build`
5.  `dotnet run`

and tried to use `Intercom.Core` in the generated ValuesController.cs. Result is the same

`The type or namespace name 'Intercom' could not be found (are you missing a using directive or an assembl

[2018-04-26 13:13] DotJoshJohnson commented on #115
@alx-andru - Right. My thought is that the build published to NuGet contains the "old" assembly and thus does not contain the new target platform. I just confirmed this theory by creating a new `*.nupkg` using what is currently in `master` and I was able to load the package and reference the Intercom namespaces just fine.

@kmossco - If I can help in any way, let me know!

[2018-04-26 13:52] kmossco commented on #115
@DotJoshJohnson we are currently building through MyGet and I think you are right here, there is something different there from how we build locally and that MyGet build that is causing this problem. Because building locally it works fine by me and a few others.

I am investigating this further to see what could be causing it, but if anyone has any experience with what this could be it I'm open to

[2018-04-26 14:09] DotJoshJohnson commented on #115
I deconstructed the `*.nupkg` and found it contains the entire source tree, not just the usual `lib` folder with the release assets. I'm not familiar with MyGet, but I'll continue digging around to see if I can find any other info. But this is almost certainly what is causing the problem for consumers of the package.

[2018-04-27 01:44] xdansmith opened #117 "Company monthly_spend is an int instead of decimal"
Can monthly_spend be changed back to a decimal so accurate monthly fees can be stored, like `1.95`?

[2018-04-27 12:38] DotJoshJohnson commented on #117
The Intercom API only supports integer values in `monthly_spend`.

[2018-04-27 13:28] xdansmith commented on #117
What is the correct way to map an amount with cents like 1.95 in that case, or is it not possible?

[2018-04-27 13:31] xdansmith opened #118 "Newest version of library is named "Library.dll""
I believe this is not intended. Can it be corrected to have a more descriptive name like `IntercomDotNet.dll` instead of Library.dll? I've seen this when getting the package via NuGet.

[2018-04-27 13:35] DotJoshJohnson commented on #117
As far as I know, that would have to be stored in a custom attribute:

[code]

In the Intercom app, you can then leverage that attribute in pretty much the same way in terms of filtering, qualification, etc.

[2018-04-30 07:40] Fahrenheit9292 commented on #113
Hey there,
did you figure this out?

[2018-05-03 07:33] Fahrenheit9292 commented on #113
![2018-05-03_10-31-26](https://user-images.githubusercontent.com/38457029/39564502-30202a8a-4ebd-11e8-8238-4429329f00a3.png)
![2018-05-03_10-32-42](https://user-images.githubusercontent.com/38457029/39564547-574581aa-4ebd-11e8-9e3e-57ed709d8bdd.png)
I'm pretty sure the problem here is with JsonConverter used for the fields "tags" and "conversation_parts" on the "Conversation" Object

[2018-05-03 07:34] Fahrenheit9292 commented on #113
as you can see, the tags field is null for the conversation on c# and not null on Postman response for the same conversation

[2018-05-05 19:53] nadeem-edgylabs opened #120 "Delete user"
Intercom has recently updated their API to include the functionality to permanently delete a user or lead to comply with the new GDPR regulations. The previous API just archives the user, Is there any update on this functionally?
Here is reference document,
https://docs.intercom.com/faqs-and-troubleshooting/your-users-and-leads-data-in-intercom/how-do-i-delete-users-and-leads-in-intercom

[2018-05-10 21:00] kmossco commented on #117
Hey @xdansmith, thank you for bringing this up. Not quite sure which is the expected behaviour and this week I am away from any work on the API, but early next week I'll do some testing and ensure we match the type that the API accepts from curl for full feature parity. 👍

[2018-05-15 18:28] neooleg commented on #115
@kmossco can you publish a NuGet package?

It will allow us test and verify it in real life!

Thanks in advance!

[2018-05-15 21:11] kmossco commented on #115
@neooleg I will try to get a release out this week. 👍Will keep this open until that's out.

[2018-05-18 15:41] ThomasArdal opened #122 "Missing Count property on Segment"
In the API, Segments have a `count` attribute. This attribute is never mapped to a property on the `Segment` object. I've talked with Intercom support, who tell me that it is because `count` wasn't available in the previous versions of the API.

[2018-05-18 18:00] kmossco commented on #122
You're right, this is missing. We are having a few woes with the transition to DotnetStandard but I'll try to squeeze this in asap.

![image](https://user-images.githubusercontent.com/11810153/40250265-ae1debd6-5acd-11e8-9d89-7f1b964101bf.png)

However if anyone has the time to send us a PR I'll be happy to review it.

[2018-05-20 18:10] ThomasArdal commented on #122
How would you prefer the include_count parameter to be set?

Could be always:

    result = Get<Segment>(parameters: new Dictionary<string, string> { { "include_count", "true" } }, resource: SEGMENTS_RESOURCE + Path.DirectorySeparatorChar + id);

Through a parameter on the View-method:

    public Segment View(String id, includeCount = false)

Or something third?

[2018-05-22 06:50] neooleg commented on #115
@kmossco to kindly follow-up - is there is any update for release?

[2018-05-23 11:18] kmossco commented on #115
So sorry for the delay in getting back to you here. We've been trying to push a new version to NuGet but ended up having a few problems getting the versions right so had to remove a few orphan packages due to that broken build process.

I have now reviewed and hopefully fixed the build process 🤞and that should let us have that package out very soon.

[2018-05-24 06:08] steve-tapley opened #125 ".Net 4.6 Support"
Hi,
I'm upgrading from 1.0.31 to 2.0.0 and came across this error:

`
Could not install package 'Intercom.Dotnet.Client 2.0.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.
`

I sure

[2018-05-24 07:02] kmossco commented on #125
Hey @steve-tapley! So sorry for this, we have accidentally pushed a version to NuGet that has the wrong version and shows as 2.0.0 when it should be a pre-release of 2.0.3-beta. This new major version only supports NetStandard2.0 and this is why you are having this problem.

Can you please revert back to 1.0.31 which is the last available version for the .Net Framework 4.6?

[2018-05-24 07:05] steve-tapley commented on #125
Sure, no worries...I assumed it was a mistake!

Correct me if I'm wrong, but I think you can still target to 4.6 as well as .Net standard 2.0 as 4.6 is a superset of .Net standard 2.0??

[2018-05-24 10:30] ThomasArdal commented on #122
@kmossco

[2018-05-24 11:02] kmossco commented on #122
@ThomasArdal so sorry for the delay here, completely missed this one. 😞 I think that the second option would make more sense as it's the pattern we already have for other endpoints like Scroll:

https://github.com/intercom/intercom-dotnet/blob/04fc9d7082641bc6089070d9147e5f6b1feef1eb/src/Intercom/Clients/ContactsClient.cs#L134-L145

How does that sound?

[2018-05-24 11:12] ThomasArdal commented on #122
No problem :smile:

There you go: https://github.com/intercom/intercom-dotnet/pull/126

[2018-05-24 11:41] kmossco commented on #122
This is awesome! 🎉 Thank you so much. We are having a few issues with our Nuget package build and so PRs are a bit delayed, but as soon as we fix that I'll review your PR and add it to the next release. 👍

[2018-05-24 11:59] kmossco commented on #125
I think it only supports 4.6.1 and onwards: https://docs.microsoft.com/en-us/dotnet/standard/net-standard. Could that be it?

[2018-05-25 01:16] steve-tapley commented on #125
Yep, that does seem to be a partial solution.

When I set the project to 4.6.1 and updated intercom, it worked but it added about 50 (yes 50!) references to .NET Standard libraries. I think it is possible to target both, as the MSDN docs do show things like this in their csproj files...
`
<Project Sdk=”Microsoft.NET.Sdk”>
 <PropertyGroup>
 <TargetFrameworks>netstandard1.3;net46</TargetFrameworks>

[2018-05-25 09:11] kmossco commented on #125
I really wish I could say we would support net46, however we are already stretched quite thin as it is and it's hard to rally resources when something breaks like this problem we are having pushing the new version out to Nuget. So with that in mind we really won't be able to support anything below or parallel to NetStandard 2.0 for the time being.

But if you bump into any issues with 1.0.31 we'll

[2018-05-25 09:11] #125 closed

[2018-06-12 18:28] nvivo opened #128 "How to access the "Last heard from" field?"
There is a field in Intercom called "Last heard from":

![image](https://user-images.githubusercontent.com/202449/41309407-1ceff65e-6e55-11e8-8044-9b42b4070f06.png)

Can this field be accessed from this API? I'm not finding it anywhere.

[2018-06-13 14:19] kmossco commented on #128
Hey @nvivo! This attribute is not something we expose in our API requests, but internally it is derived from a timestamp for the last time the user has contacted you - as in, initiated a conversation. Unfortunately because this isn't in the API User Model, then we can't add it to the SDK either. But I'll add this as a feature request for our API team! 😉

[2018-06-13 14:19] #128 closed

[2018-06-15 22:48] kmossco commented on #118
This issue is now fixed in the last release in Nuget v2.0.3-beta. 👍 Thank you for your patience!

[2018-06-15 22:48] #118 closed

[2018-06-15 22:49] kmossco commented on #115
We had a few bumps getting our workflow up to speed to be able to push new versions to NuGet, but this is now fixed. I have now released a new version: 2.0.3-beta. This should fix the namespacing problem. 👍

[2018-06-15 22:49] #115 closed

[2018-06-15 23:34] #108 closed

[2018-06-15 23:59] kmossco commented on #117
I checked with the team and it seems that we accept Floats:

![image](https://user-images.githubusercontent.com/11810153/41493529-0cb951c4-7100-11e8-94a1-f406a32d275f.png)

However they will be truncated. I made this change already, can one of you review it? https://github.com/intercom/intercom-dotnet/pull/129

[2018-06-15 23:59] #117 closed

[2018-07-06 02:55] kmossco commented on #113
Hey @Fahrenheit9292, sorry for the delay but I think I got this resolved in PR #132. I am looking to merge it next week, but if you want to give it a try in the meantime let me know if you bump into any issues with it.

[2018-07-06 13:07] kmossco commented on #114
After talking with the team we have decided to close this one in this repo and track it as a feature request internally. There are talks of adding some work that isn't strictly regarding our REST API in the library, but it has been postponed until we have feature parity. 👍

[2018-07-06 13:07] #114 closed

[2018-07-06 17:10] slegay commented on #98
Same problem here. It looks like using the latest version of RestSharp causes dependency issues with intercom client.

[2018-07-06 17:14] slegay opened #134 "Please make client class disposable and call httpClient.Dispose()"
The client class uses an instance of HttpClient, which implements IDisposable, but never disposes of it. I am not sure what the memory and networking consequences are when creating a bunch of HttpClient instances without proper disposal, but it might be a good idea to implement IDisposable and allow developers to properly release those resources.

[2018-07-07 12:56] kmossco commented on #98
I will need to test and see what changed, but we may need some time to adapt to the new version of RestSharp.

[2018-07-07 12:59] kmossco commented on #134
Thank you for this, we are right now prioritising adding feature parity to our API and then we will be working to actually move to asynchronously requests which may solve this problem at once. But happy to review any PR in the meantime if you have the time to create one. 👍

[2018-08-09 09:44] #110 closed

[2018-08-09 09:44] #69 closed

[2018-08-09 09:44] #113 closed

[2018-08-09 09:45] #95 closed

[2018-08-09 09:46] kmossco commented on #122
Closed with release [2.1.0](https://github.com/intercom/intercom-dotnet/releases/tag/2.1.0).

[2018-08-09 09:46] #122 closed

[2018-08-09 09:46] kmossco commented on #120
Closed with release [2.1.0](https://github.com/intercom/intercom-dotnet/releases/tag/2.1.0).

[2018-08-09 09:46] #120 closed

[2018-08-16 09:25] agamanyuk opened #137 "Make it available for .NET Framework 4.6.1"
Can you please make a version for .NET Framework 4.6.1? Nobody's using .NET Standard.

[2018-09-18 17:42] ravtakhar opened #139 "Version 2.1.0"
After installing intercom version 2.1.0 it conflicts with our System.data reference.

We are no longer able to use SqlConnection or SqlCommand.

Going to stick with 1.0.31 until this is resolved.

[2018-09-28 13:42] mfruhner commented on #139
I too had trouble running version 2.1. All my assembleys seem not to be recognized anymore and I get 100+ compile errors. I think this has to do with the .Net Standard Reference, which was added that version.

I installed 1.0.31 and it works fine, even though it does not support the newest features.

[2018-10-10 17:54] mzammitkg opened #140 "UsersClient.View returning null, not throwing an exception"
As of this morning, the following call to UsersClient seems to be returning null:

[code]

[2018-10-11 00:41] wil55n commented on #139
We are having this issue as well. .Net Standard is causing alot of issues with our project.

[2018-10-11 00:42] wil55n commented on #137
Yes please, we're having alot of issues using 2.x with .Net Framework projects.

[2018-10-11 00:43] wil55n commented on #139
As of this morning 1.0.31 wont allow us to create contacts. Is anyone else having this issue?

[2018-10-11 01:14] wil55n commented on #140
Yes, we are experiencing the same issue as of today. Basically any userclient call is returning null.
We are on version 1.0.31 of the SDK.
If we update to 2.x of the SDK the call returns the correct data BUT we can not use 2.x right now because of the dependancy on .NET Standard

[2018-10-11 09:01] abentabet commented on #140
The problem comes from the API and not the SDK, i've tried manual http request, it works by Id but not by userid, hope intercom fix that soon

[2018-10-11 09:51] abentabet commented on #140
When using "ContactsClient.View" with .NET Framework 4.5.2 (same SDK version : 1.0.31) I have "null" but when using .NET Framework 4.7 it works ! ... we can't update .net framework because it impacts all our code

[2018-10-11 11:22] mortenmoulder commented on #140
We're experiencing the exact same thing here. Works on 4.7.1 but not on 4.5.1. Using version 1.0.31.

I'm talking to Intercom as we speak. They are aware of the issue now, at least. Let's hope they fix this.

[2018-10-11 12:02] RebliNk17 commented on #140
Working with 4.7.1 and still receiving null...

[2018-10-19 20:00] nadeem-edgylabs opened #141 "usersClient.List returns null"
With .net version 4.5, this list method is returning the null value. I've tested this API with POSTMAN and it is working fine but when we use this list method it returns null.

[2018-10-23 14:44] mzammitkg commented on #141
@nadeem-edgylabs  Should be the same issue as #140.

[2018-12-03 20:40] twilly86 commented on #98
i downgraded to restsharp 105.2.3.0 and it fixed it. I now need to upgrade restsharp past that version and I'm getting this error again.
I couldn't download the new intercom 2+ version since it installs a bunch of dotnet core packages into my library causing more issues.

[2018-12-12 19:13] Nicholi opened #146 "Deserialize Exception: UserList.Scroll Response total_count field is null"
This sounds more like an API error on Intercom's end. I haven't looked to see if they changed anything about their guarantee of the "total_count" field.

It also sounds semi-related to the previous mention of null UserLists (https://github.com/intercom/intercom-dotnet/issues/140), which I guess was also an error on Intercom's end. I've tested the actual response from api.intercom.com and the "tota

[2018-12-18 00:34] jpasichnyk commented on #146
I'm blocked by the same issue.

[2018-12-18 00:38] jpasichnyk commented on #137
I believe it should be built against both netstandard2.0 and net45 for compatibility with those moving over to .NET Core as well as those not.

[2018-12-18 00:40] jpasichnyk commented on #112
+1 I was thinking these should be bubbled up in a custom exception indicating to the caller that they were "rate limited", as easy to access properties.  Or at minimum as some dictionary entries like other errors are returned.

[2018-12-18 09:14] CarloSaccone commented on #137
I think that there should be 2 different package for .net core and .net >4.5.
Tried to nuget on an existing webapi .net 4.6.1 and it broke all the references in the project. Tried to clean it up and leaving just the reference to restsharp, but no luck.

[2018-12-18 09:42] realnickivanov commented on #146
As a workaround you can set global default JsonConvert.DefaultSettings = () => new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore };
Or replace Deserialize method via overriding HandleResponse method
See https://github.com/intercom/intercom-dotnet/blob/master/src/Intercom/Core/Client.cs

[2018-12-18 10:32] apassant commented on #146
Thanks for reporting this. We're currently working on an API update that should fix this ASAP. We'll let you know 👍

[2018-12-18 18:52] jpasichnyk commented on #146
@apassant @Nicholi This is working again now.

[2018-12-18 19:35] apassant commented on #146
Thanks for confirming. We've fixed the issue in the API, so everything should indeed be back to normal, w/o required SDK update.

[2018-12-18 19:35] #146 closed

[2018-12-18 20:37] jpasichnyk commented on #137
I just created a pull request which multi-targets the SDK against both the existing "netstandard2.0" and as well as "net452" (which i believe should allow >= 4.5.2 to use it).

Intercom maintainer, please review/merge the pull request: https://github.com/intercom/intercom-dotnet/pull/147

[2019-01-16 11:19] alohaba opened #148 "PublicKeyToken null"
I included intercom client when I run the code for authentification i get this error
`UsersClient usersClient = new UsersClient(new Authentication("token"));`

System.TypeLoadException: 'Could not load type 'Intercom.Core.Authentication' from assembly 'intercom, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'.'

[2019-01-16 13:42] mindojo-victor commented on #128
Any news on adding this field to the API?

[2019-01-16 20:01] twilly86 commented on #98
Any update on this?

[2019-01-25 02:38] markalanevans commented on #139
Yea this change sucked. I just formed it and manually made the updates I wanted from the code myself.

[2019-01-25 02:46] markive commented on #139
I contacted Intercom Support yesterday and they approved this pull request last night: https://github.com/intercom/intercom-dotnet/pull/147

I'm about to test if this does the trick..

[2019-03-18 18:29] slegay commented on #98
Same problem here.

[2019-04-11 21:11] SpencerWaz opened #149 "Serialize / Deserialize Exception"
I'm getting an exception thrown when serializing and then de serializing Users.

The stack trace shows the exception being thrown from: Intercom.Converters.AttributeConverters.ListJsonConverter.ReadJson

[2019-04-12 19:04] SpencerWaz commented on #149
Considering it more, your converters are used to serialize to/from your API response.

To solve my issue I just inherited from your models and hid the base members

[code]
Then using automapper to map between

[code]
Kindof a workaround.. but it works well imho. This allowed me to re serialize / deserialize the models.

You should consider removing the JsonConverter attributes and just use them du

[2019-04-22 20:44] apawsey opened #150 "RestClientFactory - when will nuget get updated?"
The documentation says use the RestClientFactory, the change was checked in 6 months ago, and it's not available on nuget?  The package hasn't been updated in 8 months?

Doesn't seem like we get a lot of love here?  Even the fairly critical pull request for targeting 4.6.1 has been sitting there approved since december. Can we not get some of these changes, and issues fixed and published?

In pack

[2019-04-29 14:06] morindune opened #151 "Problems looking up on email"
Hi,

I have recently been testing out the library, and everything works fine when looking up on ID, however when trying to do a lookup on email (using the sample code) it only returns an empty object, tested with and with out url encoding and on different emails i know exists, doing a simple curl request on the same email works like a charm. Already talked to intercom support, and they suggested I

[2019-06-05 15:52] lindeberg commented on #151
I second this.

Intercom.Dotnet.Client 1.0.31

API version
1.2 (2019-05-03)

[2019-06-05 16:39] phil118 commented on #151
Same here, I updated to latest version of Intercom API to double check and same results as @morindune, empty object but query via a simple curl request it all works ok.

Intercom.Dotnet.Client Version="2.1.0"

API version
1.3 (2019-06-05)

[2019-06-05 17:51] phil118 commented on #151
It looks like its because the UsersClient tries to return a single user when the client requests to get a user by email, but now according the Intercom API docs it returns multiple users so the deserialization to the User object is failing and needs to be updated to return Users FirstOrDefault() or similar.

As a workaround until it gets fixed you can lookup users using the List endpoint which sti

[2019-06-06 08:44] lindeberg commented on #151
Thanks @phil118!

[2019-06-06 10:45] morindune commented on #151
@phil118 Thank you for the tip on the workaround :D

[2019-06-14 07:16] lindeberg commented on #137
Any progress?

[2019-07-07 14:31] sarthak-k opened #152 "Package Breaking .NET 4.7 Projects"
After referencing the package using NuGet package in ASP.NET MVC targetting .NET 4.7 breaks the projects on various levels.

[2019-07-15 13:45] alexshikov opened #154 "Xamarin Push Notification Support"
As the library supports .Net Standard 2.0 and so that can be used in Xamarin projects it would be nice to extend it with Push Notification feature:

- allow registering device token
- handle incoming push notifications

[2019-07-31 15:09] MennoKlup commented on #146
I would like to report that this is still the case? total_count is 0

[2019-08-06 09:09] MennoKlup commented on #149
@SpencerWaz I'm running into the same issue that serialisation is generating an issue. Do you perhaps have an PR available?

[2019-08-15 20:03] paulsterling opened #155 "Support for Added Methods in API v1.3"
Adding this here to capture for a PR. Ideally this SDK will be updated to support the latest API version (currently 1.3) as there are some added endpoints - actually, even some added in v1.2 are not yet included.

Here's one example from 1.2+ for `ListLeadsByPhone`
https://developers.intercom.com/intercom-api-reference/reference#section-list-leads-by-phone

The change log is here https://developer

[2019-08-19 11:40] martinmasse opened #156 "Latest version 2.1.1 does not target .NET Standard"
Hi,

It seems that we have lost the .NET Standard target in the latest release making it not compatible with .NET Core

[2019-08-19 20:16] SpencerWaz commented on #149
@MennoKlup Sorry for the delayed response.. this isn't my main account. I just moved on after using the workaround mentioned earlier.. but I suppose I can look into adding a PR later tonight when I'm off the clock.

[2019-09-05 14:52] mscrivo commented on #156
yeah, this seems like a pretty bad regression.

[2019-11-21 05:09] DavidKlempfner opened #158 "Unable to create a company in Intercom"
I'm using this code:

[code]
The `createdCompany `is not null:

![image](https://user-images.githubusercontent.com/13111539/69305777-436cc780-0c79-11ea-8333-d98834b1a427.png)

But the company is not showing in the UI:

![image](https://user-images.githubusercontent.com/13111539/69305782-4ff12000-0c79-11ea-9ce3-b3100bfe5f9c.png)

Why is the company not showing in the UI?

Intercom API version = 1.4

[2019-11-21 06:05] backwardsDave1 commented on #158
Looks like this is by design.
Apparently companies don't show up if they have no users:
https://github.com/intercom/intercom-java/issues/7

Really wish this was fixed so I didn't waste hours trying to work out what's going on.

[2020-01-06 14:25] lamelyan opened #159 "Paging through a list of users"
I get a list of users by segment id.

[code]

The result is paged by 50 users per page.  How do I retrieve the next page in the results?

I see that there is [a method called `Next` ](https://github.com/intercom/intercom-dotnet/blob/a9993b322ba8c26838e20ec1dcb607508b65f62c/src/Intercom/Clients/UsersClient.cs#L182)that is not yet implemented.

Is there another way to get all users in a segment?  Do

[2020-01-21 06:17] ThomasArdal commented on #156
This is keeping me from updating as well.

[2020-02-07 13:52] gonace commented on #156
Same here, would be great to get a "fix" for this 👍

[2020-02-18 12:52] justlearntutors commented on #98
Same problem on my project

[2020-03-02 22:29] vquinn16 commented on #128
Hello - Do you have an update as to when/if you will be adding this field to the API?

[2020-03-03 20:14] Imbaker1234 commented on #70
Where precisely does the Service Point Manager get set? I'm working with generated SwaggerHub clients (That need a lot of fixing after generating) and I can't seem to find where to include the ServicePointManager. What is it a property of?

[2020-03-03 21:31] tekook commented on #70
I’m sorry, this is too long ago.
I moved to Flurl, it is way easier than ReatSharp.

It does not offer a swagger client, but the rest sharp client of swagger never really worked out of the box.

[2020-04-01 21:41] johnnyoshika commented on #156
Is this still an actively supported SDK?

[2020-04-01 21:47] johnnyoshika commented on #159
Try this:

[code]

[2020-04-02 15:12] AndiRudi commented on #156
Hello we are also stuck in our migration for .net core. NETStandard is vital to move towards .net core.

[2020-04-02 15:21] AndiRudi commented on #156
https://github.com/intercom/intercom-dotnet/pull/157

[2020-05-15 22:40] iPlexor opened #160 "Unexpected character exception deserializing response from ContactsClient.List()"
Using the nuget release 2.1.1 and the current master branch, calling List() on ContactsClient results in a sucessful request and response but throws an exception when deserializing the response json into the Contacts class.

Inner Exception Message:

This appears to be due to the v2.0 API returning a 'next' pagination object, rather than a string as expected in the current class data structure.

T

[2020-05-21 09:53] slavapvf opened #162 "Not able to reference, A strongly-named assembly is required"
Hello, I added package and tried to use it in my all by I got "A strongly-named assembly is required". Could you sign the assembly?

[2020-05-21 11:52] slavapvf opened #163 ""Requested resource is not available in current API version""
hello, tried to use as in example and got:
"Requested resource is not available in current API version"
at Intercom.Core.Client.Get[T](Dictionary`2 headers, Dictionary`2 parameters, String resource)
   at Intercom.Clients.UsersClient.View(User user)
   at FluentPro.Fbo.Business.InterComService.SetDeletedDate(String customerEmail) in D:\projects\FbOnline\Sources\FluentPro.Fbo\FluentPro.Fbo.Business

[2020-05-22 22:23] hognevevle commented on #163
Sadly, this repo doesn't seem to be maintained anymore. Consequently, it doesn't support the latest API (2.0). Best bet is to either use it as-is for API 1.4, or fork it and implement the missing features you need from 2.0.

[2020-07-13 21:19] mohamadDev opened #164 "Cant create contact as lead"
actually i solved it but because it was a minor fix I am dropping my solution here
solution
create a class a lead extends contact
[code]
### Create Lead
[code]

[2020-07-22 10:48] lloydliyu commented on #163
Hi @slavapvf  👋 As said, we don't have a timeline on this for the dotnet SDK to be updated to support version 2.x of our API yet. However, if anybody wants to give it a shot and add support for version 2.0, feel free to jump in and leave a note here so we are all aligned and we don't do double work 😃

We'll let you know here when we start working on it. In the meantime, if you need help changing y

[2020-07-22 10:52] lloydliyu commented on #158
Hey @DavidKlempfner, that is right - this is by design. A company must have at least one user to be visible within the UI. If you have any further questions on this, or want to log a feature request, I'd recommend reaching out to the support team using the Messenger on https://intercom.com.

Closing this out as this is more to do with how the Intercom Web UI works, rather than the SDK.

[2020-07-22 10:52] #158 closed

[2020-07-22 10:54] lloydliyu commented on #154
Hey @alexshikov :wave: This seems a little out of scope of this project as the SDK is intended purely to provide .Net bindings to the Intercom API and the API itself doesn't support that.

That said, If this is something you'd like to see, I'd recommend reaching out to the support team using the Messenger on https://intercom.com who'd be able to log this as a feature request for you.

[2020-07-22 10:54] #154 closed

[2020-07-22 10:59] lloydliyu commented on #151
Hey @morindune :wave: As mentioned this is due to a change in how we handled searching by email in laster versions of the 1.x API. If you use Version 1.0 you should get a single returned user, however in later versions you get a list, which the SDK isn't expecting.

Related to: https://github.com/intercom/intercom-dotnet/issues/155

We don't have a timeline for the dotnet SDK to be updated to supp

[2020-07-22 10:59] #151 closed

[2020-07-22 11:05] lloydliyu commented on #137
Hey @jpasichnyk :wave:

It looks like this was solved since https://github.com/intercom/intercom-dotnet/pull/147 was merged. If that isn't the case feel free to reopen this.

[2020-07-22 11:05] #137 closed

[2020-07-22 11:07] lloydliyu commented on #141
Closing this as out as a duplicate to https://github.com/intercom/intercom-dotnet/issues/140

[2020-07-22 11:07] #141 closed

[2020-07-28 19:16] bledari commented on #158
Hi I have some issues.
I was trying to create companies through Postman and it didn't work, then with curl code it worked! I can retrieve companies by id and understand the list of companies displays only those with user. Now users I see are contacts. I was able to associate a contact to a company (difficult because doc has error, mark it as a POST) but still nothing in list companies.

You can tr

[2020-07-28 19:22] lloydliyu commented on #158
Hey @bledari :wave:

The Intercom support team would be best placed to assist you with using our API. They can be contacted using Messenger on https://intercom.com. This repo refers only to usage of the .Net SDK and bug reports for that SDK.

[2020-09-01 15:15] ioggstream commented on #112
In case you expose those headers, I suggest using this spec https://tools.ietf.org/html/draft-polli-ratelimit-headers-03 which is currently supported by various api gateway (kong, envoy proxy, redhat-3scale, ...) and some client libraries.

it just expresses X-RateLimit-Reset in delta-seconds instead of a timestamp: this reduces clock-skew issues and "thundering herd" problems at begin of period

[2020-12-04 10:45] user1311 commented on #98
Same issue here, i can't downgrade then i get issue that it doesn't support net4.7.2

Error msg :  System.IO.FileNotFoundException: Could not load file or assembly 'RestSharp, Version=106.11.7.0, Culture=neutral, PublicKeyToken=598062e77f915f75' or one of its dependencies. The system cannot find the file specified.

[2020-12-31 16:48] bdelavega-maralytix opened #165 "How to handle errors with this library?"
I'm not sure whether to write an issue or just a question. We've used this library a fair bit, but now I'm trying to troubleshoot errors and don't see how.

Take for example Intercom.Clients.UsersClient.cs.  Many methods end with code like this:
            ClientResponse<User> result = null;
            result = ...
            return result.Result;

So an Intercom.Core.ClientResponse is created

[2021-01-23 04:47] mngobbi commented on #156
Maybe https://github.com/intercom/intercom-dotnet/pull/166 could help with this?

[2021-01-25 09:04] mgoodfellow commented on #156
It looks like Intercom have completely dropped support for this library which is a real shame considering the cost of their product, and considering that the community have attempted to provide PRs to fix these issues but which are seemingly ignored. This project should be marked as deprecated.

A few options - fork it, and issue nugets from the patched PRs, or alternatively you can use 2.1.0 (htt

[2021-01-25 09:10] ThomasArdal commented on #156
For future visitors and in addition to @mgoodfellow's comments, I'm using the 2.1.0 package with version 1.4 of Intercom's API. I haven't experienced anything that isn't working yet, but there could be something unsupported with that combination. Any newer versions of the API won't work with 2.1.0.

I can only agree with everything here. It's a shame that Intercom offers this package and then don'

[2021-02-21 22:14] TheSpy opened #167 "Seems like this is a dead project"
I wrote a letter to Intercom support in September 2020 and received an answer right after:

My question:
"Hey, why do you have such a poor support for intercom dotnet library ? Last change was 2 years ago. Do you have some other library you are supporting and I cannot find? Or do people rarely integrate with your application through API ?"

Answer:
"Hey Julius 👋
Thanks for getting in touch.  The p

[2021-03-11 00:21] seankearney commented on #167
I've had a similar response from Intercom regarding their .NET SDK in January 2021.

[2021-03-19 09:55] irachitrastogi opened #169 "userResult = usersClient.View(userResult) now throwing Exception rather then giving out NULL"
Hi Team, I am using the view client call to check if the user is available at intercom or not, the code that we had for NULL and now I am getting exceptions if the user does not exist and therefore facing a problem.

Can someone please confirm if the functionality of the API view method is changed? So, that I can change the code accordingly.

Looking forward to a quick response. Thanks!

"var resu

[2021-03-26 18:20] MohammedMubeen commented on #98
Hi Folks,

I also face same problem , Please help on this.

System.IO.FileNotFoundException: Could not load file or assembly 'RestSharp, Version=106.11.7.0, Culture=neutral, PublicKeyToken=598062e77f915f75' or one of its dependencies. The system cannot find the file specified.

[2021-11-25 16:03] dradovic opened #171 "Newtonsoft.Json.JsonSerializationException: Error converting value {null} to type 'System.Boolean'. Path 'users[0].marked_email_as_spam'"
For some old contacts (> 5 yrs), we get the following error when trying to list a user:

I guess that `marked_email_as_spam` should be declared as a nullable boolean to support the loading of older contacts.

This is the call-stack:

    Intercom.Exceptions.IntercomException: An exception occurred while calling the endpoint. Method: GET, Url: https://api.intercom.io/, Resource: users, Sub-Resource

[2022-02-09 13:57] justlearntutors commented on #98
Same problem.
'Could not load type 'RestSharp.IRestClient' from assembly 'RestSharp, Version=107.2.1.0, Culture=neutral, PublicKeyToken=598062e77f915f75'.'

[2022-06-30 09:22] marzsocks opened #175 "Test Item"
This is a task

1. [x] test

[2022-06-30 09:25] #175 closed